TP Integrador POO1 UNLa/.idea/vcs.xml
TP Integrador POO1 UNLa/.idea/inspectionProfiles/Project_Default.xml
TP Integrador POO1 UNLa/out/**
*.class
.idea/inspectionProfiles/Project_Default.xml
.idea/dictionaries/amper.xml
.idea/misc.xml
.idea/workspace.xml
